@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --primary-color: rgb(217, 99, 160);
  --text-color: #f0e9f0;
}

body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.lesson-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

hr {
  margin: 10px 0;
  opacity: 0.4;
}

p, li {
  line-height: 1.6;
}

pre {
  background-color: #262626; /* Slightly lighter than the container for contrast */
  color: #9ef01a; /* Bright green accent for code blocks */
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
}

.inline {
  display: inline; /* Ensures full width code blocks */
  white-space: pre; /* Maintains spacing and formatting */
  background-color: #2F2F2F;
  padding: 2px 4px;
  border-radius: 5px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* background-color: #d5d3d3; */
}

ul {
  padding-left: 20px;
}

li.paragraph {
  margin-bottom: 1em;
}

section {
  margin-bottom: 2em;
}

button {
  background-color: transparent;
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;

}

/* Add any additional styling for buttons, links, etc. here */
