@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --primary-color: rgb(217, 99, 160);
  --secondary-color: rgb(200, 158, 107);
  --tertiary-color: rgb(204, 166, 166);
  --text-color: #f0e9f0;
}

body {
  background-color: #1e1e1e;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.lesson-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  max-width: 860px;
  margin: auto;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--secondary-color);
  margin-top:  0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 0.8rem;
  color: var(--tertiary-color);
}

hr {
  margin: 10px 0;
  opacity: 0.4;
}

p {
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  line-height: 1.6;
}

pre {
  background-color: #262626; /* Slightly lighter than the container for contrast */
  color: #9ef01a; /* Bright green accent for code blocks */
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
}


ul {
  padding-left: 20px;
}

section {
  margin-bottom: 2rem;
}

button {
  background-color: transparent;
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
}

.inline {
  display: inline; /* Ensures full width code blocks */
  white-space: pre; /* Maintains spacing and formatting */
  background-color: #2F2F2F;
  padding: 2px 4px;
  border-radius: 5px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* background-color: #d5d3d3; */
}

.pointer {
  cursor: pointer;
}